@import "tailwindcss";

@custom-variant hocus {
  @media (hover: hover) {
    &:hover {
      /*noinspection CssInvalidAtRule*/
      @slot;
    }
  }

  &:focus-visible {
    /*noinspection CssInvalidAtRule*/
    @slot;
  }
}

@layer base {
  button:enabled {
    cursor: pointer;
  }

  a,
  button {
    outline: transparent solid 0;
    outline-offset: 0;
  }
}

@media screen and (update: fast) and (prefers-reduced-motion: no-preference) {
  :root {
    @apply scroll-smooth;
  }
}

@media not (update: fast) {
  * {
    @apply !animate-none !transition-none;
  }
}

/*noinspection CssUnresolvedCustomProperty*/
@theme {
  --breakpoint-tb: 48em; /* Tablet: 768px */
  --breakpoint-dt: 90em; /* Desktop: 1440px */
  /* Colors */
  --color-amber-200: #fde68a;
  --color-amber-50: #fffbeb;
  --color-amber-700: #a16207;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-50: #f9fafb;
  --color-green-200: #bbf7d0;
  --color-green-50: #f0fdf4;
  --color-green-700: #15803d;
  --color-indigo-200: #c7d2fe;
  --color-indigo-500: #6366f1;
  --color-indigo-50: #eef2ff;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-50: #fafafa;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-red-200: #fecaca;
  --color-red-50: #fef2f2;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-white: #fff;
  --color-yellow-400: #facc15;

  --font-sans: var(--font-noto-sans);
  --font-sans--font-variation-settings: "wdth" 100;

  /* Shadows (https://v2.tailwindcss.com/docs/box-shadow) */
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md:
    0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  --spacing: 0.25rem;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
  --animate-fade-in: fadeIn var(--default-transition-duration)
    var(--default-transition-timing-function);
}
